services:
  db:
    image: postgres:latest
    ports:
      - "5433:5432"
    restart: always
    environment:
      - POSTGRES_DB=lifeos
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=1234
    volumes:
      - postgres_data:/var/lib/postgresql

volumes:
  postgres_data:
